div{
    width:300px;
    background-color: tomato;
    border-radius: 20px;
    outline: 2px solid darkgreen;
    outline-offset: 1px;
   
}
img{
    width: 300px;
    height:150px;
     object-fit: cover;
    object-position:top center;
    margin-top:50px;
}